@import 'theme/vars';

.InlineEditor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bgColorL1;
  padding: 16px;

  select {
    padding: 4px;
  }

  input {
    width: 40px;
  }
}

.InlineEditor__title {
  text-align: center;
  margin: -4px 0 4px;
  font-size: 14px;
  color: $textColorD1;
  font-weight: bold;

  i {
    font-style: normal;
    color: $accentColor1;
  }
}

.InlineEditor__content {
  display: flex;
  align-items: center;
  gap: 16px;

  label {
    color: $textColorD1;
  }
}

.InlineEditor__field {
  display: flex;
  flex-direction: column;
}

.InlineEditor__actions {
  display: flex;
  gap: 16px;
  min-width: 80px;
}

.InlineDX7VoiceEditor__dx7iiFeatures {
  max-width: 500px;
}

.InlineEditor .InlineDX7VoiceEditor__voiceName {
  font-family: monospace;
  width: 10.4ch;
}

.InlineEditor .InlineDX7PerfEditor__perfName {
  font-family: monospace;
  width: 20.8ch;
}

.InlineDX7PerfEditor .InlineEditor__title i {
  color: $accentColor2;
}

.InlineDX7PerfEditor__noteName {
  display: inline-block;
  width: 40px;
}
