@import 'theme/vars';

.CartViewerDX7Voice {
  width: 380px;
}

.CartViewerDX7Voice .DraggableWindow__content {
  columns: 2;
  column-gap: 24px;
}

.CartViewerDX7Performance {
  width: 440px;
}

.CartViewerDX7Performance .DraggableWindow__content {
  columns: 2;
  column-gap: 24px;
}

.CartViewerDX7Performance .CartItem__number {
  color: $accentColor2;
}

.CartViewer__bankToggle {
  white-space: nowrap;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    color: $textColor;
  }
}

.CartViewerHelp {
  width: 480px;
  font-size: 14px;

  .DraggableWindow__content {
    padding: 16px;
    height: 540px;
    overflow: auto;
    color: rgba($textColor, 0.7);
  }

  i {
    font-style: normal;
    color: $textColor;
  }

  h2 {
    margin: 24px 0 0 0;
    color: $textColor;
    font-size: 20px;
  }
}
