$bgColorD1: #000;
$bgColor: #232326;
$bgColorL1: #36353b;
// $bgColor: #251d17;
// $bgColorL1: #453333;

$accentColor1: #00cfbb;
$accentColor1D1: darken(#00cfbb, 20%);
$accentColor2: #229de1;
$accentColor2D1: darken(#229de1, 20%);
$accentColor3: #fc5f5f;
$accentColor4: #b77a53;

$textColor: #fff;
$textColorD1: rgba($textColor, 0.5);
$textColorD2: rgba($textColor, 0.33);
