@import 'vars';

body {
  background: $bgColor;
  color: $textColor;
  margin: 0;
}

body,
input,
textarea,
select,
button {
  font: 16px/1.3 'Helvetica Neue', 'Helvetica', sans-serif;
  letter-spacing: 0.02em;
}

button,
input[type=submit] {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

*:focus {
  outline: none;
}

input[type=text] {
  padding: 2px 8px;
}

button {
  background: $accentColor1;
  color: $bgColor;
  border-radius: 100px;
  border: 0;
  padding: 4px 8px;
  min-width: 24px;
  font-weight: bold;
  font-size: 14px;

  &:hover {
    background: lighten($accentColor1, 10%);
  }
}

.button_acc2 {
  background: $accentColor2;

  &:hover {
    background: lighten($accentColor2, 10%);
  }
}

.button_danger,
.button_acc3 {
  background: $accentColor3;

  &:hover {
    background: lighten($accentColor3, 10%);
  }
}

.button_acc4 {
  background: $accentColor4;

  &:hover {
    background: lighten($accentColor4, 10%);
  }
}

a {
  color: $accentColor1;

  &:hover {
    color: lighten($accentColor1, 10%);
  }
}

p + ul {
  margin-top: -12px;
}

ul {
  padding-left: 20px;
}

li::marker {
  color: $textColorD2;
}

.accent1 {
  color: $accentColor1;
}

.accent2 {
  color: $accentColor2;
}

.accent3 {
  color: $accentColor3;
}

.accent4 {
  color: $accentColor4;
}
