@import 'theme/vars';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App__body {
  position: relative;
  flex-grow: 1;
  overflow: auto;
}

.App__body_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: $textColorD1;
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $bgColorL1;
  padding: 16px;
  height: 60px;
}

.App__title {
  flex-grow: 1;
}

.App__logo {
  display: flex;
  align-items: flex-end;

  h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
  }

  svg {
    vertical-align: top;
    height: 32px;
  }

  a {
    color: $accentColor2;
    margin-left: 8px;

    &:hover {
      color: lighten($accentColor2, 10%);
    }
  }

  img {
    height: 30px;
    margin: 4px 16px 0 0;
  }
}

.App__helpButton {
  margin-left: 16px;
  color: $accentColor1;
  cursor: pointer;

  &:hover {
    color: lighten($accentColor1, 10%);
  }
}

.App__subTitle {
  font-size: 14px;
  color: $textColorD1;
  margin-top: 4px;
}

.App__mainMenuButton {
  margin-left: 16px;
}

.App .file-drop-target {
  display: none;
}

.App .file-drop-dragging-over-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 92px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($accentColor1, 0.9);
  color: $textColor;
  font-size: 32px;
  font-weight: bold;
}

.App__sendingDataOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($bgColor, 0.9);
  color: $textColor;
  font-size: 32px;
  font-weight: bold;
}
