@import 'theme/vars';

.MenuButton {
  position: relative;
}

.MenuButton__label {
  cursor: pointer;
  padding: 8px;

  > svg {
    vertical-align: top;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.25);
    color: $textColor;
  }
}

.MenuButton__dropdown {
  z-index: 1001;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 5px 10px 0 rgba($bgColorD1, 0.33);
}

.MenuButton_hAlignr .MenuButton__dropdown {
  left: unset;
  right: 0;
}

.MenuButton_open {
  .MenuButton__label {
    background: $bgColorD1;
    color: $textColor;
  }

  .MenuButton__dropdown {
    display: block;
  }
}

.MenuButton__separatorItem {
  border-top: solid 2px $textColor;
}

.MenuButton__dropdownItem {
  white-space: nowrap;
  background: $bgColorD1;
  color: $textColor;
  cursor: pointer;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;

  i {
    font-style: normal;
    color: $textColorD1;
  }

  &:hover {
    background: $textColor;
    color: $bgColor;
  }

  & + & {
    border-top: solid 1px $bgColorL1;
  }
}

.MenuButton_variant1 {
  &.MenuButton_open .MenuButton__label {
    background: $accentColor1D1;
  }

  .MenuButton__separatorItem {
    border-top: solid 2px $bgColor;
  }

  .MenuButton__dropdownItem {
    background: $accentColor1D1;

    &:hover {
      background: $textColor;
      color: $bgColor;

      i {
        color: rgba($bgColor, 0.6)
      }
    }
  }
}

.MenuButton_variant2 {
  &.MenuButton_open .MenuButton__label {
    background: $accentColor2D1;
  }

  .MenuButton__separatorItem {
    border-top: solid 2px $bgColor;
  }

  .MenuButton__dropdownItem {
    background: $accentColor2D1;

    &:hover {
      background: $textColor;
      color: $bgColor;

      i {
        color: rgba($bgColor, 0.6)
      }
    }
  }
}
