@import 'theme/vars';

.DraggableWindow {
  position: absolute;
  width: 320px;
  border: solid 1px $accentColor1;
  background: $bgColorL1;
  box-shadow: 0 0 20px 0 rgba($bgColor, 0.5);
}

.DraggableWindow_variant2 {
  border: solid 1px $accentColor2;

  .DraggableWindow__header {
    background: $accentColor2;
  }
}

.DraggableWindow_variant3 {
  border: solid 1px $accentColor3;

  .DraggableWindow__header {
    background: $accentColor3;
  }

  .DraggableWindow__close:hover {
    color: $textColor;
  }
}

.DraggableWindow_variant4 {
  border: solid 1px $accentColor4;

  .DraggableWindow__header {
    background: $accentColor4;
  }
}

.DraggableWindow__header {
  display: flex;
  min-width: 0;
  align-items: center;
  background: $accentColor1;
  cursor: move;
  color: $bgColorL1;
}

.DraggableWindow__title {
  font-weight: bold;
  font-size: 20px;
  flex-grow: 1;
  line-height: 1;
  padding: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-child {
    margin-left: 8px;
  }
}

.DraggableWindow__titleExtra {
  margin-left: 8px;
}

.DraggableWindow__actions {
  margin: 0 4px 0 0;
}

.DraggableWindow__close {
  padding: 8px;
  cursor: pointer;

  &:hover {
    color: $accentColor3;
  }

  > svg {
    display: block;
    height: 24px;
  }
}

.DraggableWindow__content {
  padding: 8px;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

