@import 'theme/vars';

.DraggableWindow {
  position: absolute;
  width: 320px;
  border: solid 1px $accentColor1;
  background: $bgColorL1;
  box-shadow: 0 0 20px 0 rgba($bgColor, 0.5);
}

.DraggableWindow_variant2 {
  border: solid 1px $accentColor2;

  .DraggableWindow__header {
    background: $accentColor2;
  }

  .DraggableWindow__action {
    background: $accentColor2D1;

    &:hover {
      background: $textColor;
      color: $bgColor;
    }
  }
}

.DraggableWindow_variant2.DraggableWindow_actionsOpen {
  .DraggableWindow__actionsIcon {
    background: $accentColor2D1;
  }
}

.DraggableWindow_variant3 {
  border: solid 1px $accentColor3;

  .DraggableWindow__header {
    background: $accentColor3;
  }

  .DraggableWindow__close:hover {
    color: $textColor;
  }
}

.DraggableWindow__header {
  display: flex;
  min-width: 0;
  align-items: center;
  background: $accentColor1;
  cursor: move;
  color: $bgColorL1;
  padding: 8px;
}

.DraggableWindow__title {
  font-weight: bold;
  font-size: 20px;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DraggableWindow__titleExtra {
  margin-left: 8px;
}

.DraggableWindow__actions {
  position: relative;
  margin: -8px 8px -8px -8px;
}

.DraggableWindow__actionsIcon {
  display: block;
  height: 24px;
  padding: 8px;
  cursor: pointer;

  &:hover {
    color: $textColor;
  }
}

.DraggableWindow__actionsDropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.DraggableWindow_actionsOpen {
  .DraggableWindow__actions {
    z-index: 3;
  }

  .DraggableWindow__actionsIcon {
    background: $accentColor1D1;
    color: $textColor;
  }

  .DraggableWindow__actionsDropdown {
    display: block;
  }
}

.DraggableWindow__action {
  white-space: nowrap;
  background: $accentColor1D1;
  color: $textColor;
  cursor: pointer;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;

  &:hover {
    background: $textColor;
    color: $bgColor;
  }

  & + & {
    border-top: solid 1px $bgColorL1;
  }
}

.DraggableWindow__close {
  margin: -8px -8px -8px 0;
  padding: 8px;
  cursor: pointer;

  &:hover {
    color: $accentColor3;
  }

  > svg {
    display: block;
    height: 24px;
  }
}

.DraggableWindow__content {
  padding: 8px;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

